    <hr>
        <footer class="text-center">
        <p>Created by Ignacio Montero (<a href="https://github.com/nachito333">@nachito333</a>), following instructions of <a href="https://www.freecodecamp.org/challenges/build-a-voting-app">"Build a Voting App | Free Code Camp"</a>.</p>
        </footer>
    </body>
</html>